<script src="libs/angular/angular.js"></script>
<script src="controller.js"></script>
<html ng-app="poetApp">

<body>
<!-- Tell app to use the controller -->
<div ng-controller="PoetController">

  <h1>Welcome {{ currentUser.firstName }} {{ currentUser._id }}</h1>

  <h1>Create a User</h1>
  <input type="text" ng-model="user.firstName" placeholder="First Name" class="ng-valid ng-dirty">
  <input type="text" ng-model="user.lastName" placeholder="Last Name" class="ng-valid ng-dirty">
  <input type="text" ng-model="user.screenName" placeholder="Screen Name" class="ng-valid ng-dirty">
  <input type="text" ng-model="user.email" placeholder="email" class="ng-valid ng-dirty">
	<button ng-click="addUser()">Add</button>

	<h1>Log in</h1>
  <input type="text" ng-model="currentUser.screenName" placeholder="Screen Name" class="ng-valid ng-dirty">
	<button ng-click="logIn()">Log in</button>
	{{ statusMessage }}
	
	<h1>Users</h1>
	<table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Screen Name</th>
      <th>email</th>
      <th>Delete</th>
      <th>Id</th>
    </tr>
    <tr ng-repeat="user in users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.screenName }}</td>
      <td>{{ user.email }}</td>
      <td></td>
      <td>{{ user._id }}</td>
    </tr>
  </table>

  <div ng-show='currentUser != null'>
    <h1>Add a New Poem</h1>
    <input type="text" ng-model="newPoem.title" placeholder="Title" class="ng-valid ng-dirty">
    <input type="text" ng-model="newPoem.author" placeholder="Author" class="ng-valid ng-dirty">
    <input type="textarea" ng-model="newPoem.poemBody" placeholder="Poem Body"/>
  	<button ng-click="addPoem()">Add</button>
	</div>
	
  <h1>Poems</h1>
  <h1>Search for a Poem by Title or Author</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Rating</th>
      <th>Number of Reviews</th>
      <th>Delete</th>
      <th>Id</th>
    </tr>
    <tr ng-repeat="poem in poems">
      <td>{{ poem.title }}</td>
      <td>{{ poem.author }}</td>
      <td>{{ poem.score }}</td>
      <td>{{ poem.numberReviews }}</td>
      <td></td>
      <td>{{ poem._id }}</td>
    </tr>
  </table>
  
  <h1>View a Poem</h1>
  <h1>Rate a Poem</h1>
  <h1>Reviews</h1>
  <table>
    <tr>
      <th>Review</th>
      <th>Score</th>
      <th>_poem</th>
      <th>_reviewer</th>
      <th>Delete</th>
      <th>Id</th>
    </tr>
    <tr ng-repeat="review in reviews">
      <td>{{ review.reviewBody }}</td>
      <td>{{ review.score }}</td>
      <td>{{ review._poem }}</td>
      <td>{{ review._reviewer }}</td>
      <td></td>
      <td>{{ review._id }}</td>
    </tr>
  </table>
  <h1>My reviews</h1>

</div>
</body>